@import url('https://fonts.googleapis.com/')
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body {
    display:grid;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
nav{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: linear-gradient(-135deg, #f150c0, #413fd0);
	transition: all .5s ease;
}
.logo{
	width: 100%;
	height: auto;	
	user-select: none;
}
nav ul{
	padding: 0;
	margin: 0;
	margin-left: 20px;
}
nav ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 65px;
	position: relative;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
}
nav ul li a:hover{
	padding: 8px 20px;
	background: #243342;
}
nav ul ul{
	position: relative;
	display: none;
	font-family: 'Roboto',sans-serif;
}
nav ul li:hover > ul{
	display: inline-block;
}
nav ul ul li{
	width: 165px;
	float: none;
	color: white;
	position: relative;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: linear-gradient(-135deg, #f150c0, #413fd0);
	border-radius: 3px;
}
label #btn{
	left: 40px;
	top: 45px;
	font-size: 35px;
	color: white;
	padding: 6px 12px;
	transition: all .5s ;
}
label #cancel{
	z-index: 1111;
	left: -305px;
	top: 22px;
	font-size: 20px;
	color: white;
	padding: 4px 8px;
	transition: all .5s ease;
}
#check:checked ~ .sidebar{
	left: 0;
}
#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{
	left: 195px;
}
#check:checked ~ section{
	margin-left: 250px;
}
#check:checked ~ section #image{
	margin-left: 2.8%;
	transition:all.5s;
}
section{
	background: linear-gradient(-180deg, #cd78e463, #82f3d34d);
	transition:all.5s;
}
#image{
	width:29%;
	height: 250px;
	padding:0;
	margin-left:11%;
	margin-top:45px; 
	float:left;
	border-radius:15px;
}
#intro{
	font-family:'Courgette', cursive;
	width:55%;
	height: 250px;
	font-size:x-large;
	font-weight:800;
	padding:0 2% 0 2%;
	margin-top:45px;
	float:left;
	line-height:1.55;
	word-spacing:0.17em;
	text-align:center;
	color:#5291ef;
}
h3{
	font-family:cursive;
	color:#ab4fda;
	font-weight:300;
}
p{
	fontfamily:'Poppins', sans-serif;;
	color:black;

}
#div1{
	float:left;
	margin-left:11%;
}
#div2{
	float:left;
	margin-left:11%;
	margin-right: 4%;
	width:30%;
}
#check:checked ~ section #div1{
	margin-left: 2.8%;
	transition:all.5s;
}
#check:checked ~ section #div2{
	margin-left: 2.8%;
	transition:all.5s;
	width:40%;
}
#div3{
	width:30%;
	float:left;
	padding-left: 50px;
	line-height:1;
	margin-top: 8px;
}
#div4{
	margin-top:22px;
	width:10%;
	float:left;
	padding-left: 50px;
	line-height:2.4;
}
#a1{
	color: black;
}